/*.Main {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}

.Endpoint {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 15%;
  background-color: lightgrey;
}

.Headers {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 29%;
  height: 45%;
  background-color: lightgrey;
}

.ReqBody {
  position: absolute;
  top: 25%;
  left: 35.5%;
  width: 29%;
  height: 45%;
  background-color: lightgrey;
}

.Return {
  position: absolute;
  top: 25%;
  left: 66%;
  width: 29%;
  height: 22%;
  background-color: lightgrey;
}

.Assertions {
  position: absolute;
  top: 48%;
  left: 66%;
  width: 29%;
  height: 22%;
  background-color: lightgrey;
}

.Response {
  position: absolute;
  top: 71%;
  left: 5%;
  width: 59.5%;
  height: 27%;
  background-color: lightgrey;
}

.Test {
  position: absolute;
  top: 74%;
  left: 66%;
  width: 29%;
  height: 22%;
  background-color: lightgrey;
  cursor: pointer;
}


/*input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=text]:focus {
    width: 100%;
}*/*/
